@page
@model RegisterModel

@{
    ViewData["Title"] = "Rejestracja";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Czytelno</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/style.responsive.css">
</head>
<body>

    <form class="fo" method="post">
        <div class="container">
            <h1>Rejestracja</h1>
            <p>Wypełnij formularz aby utworzyć konto</p>
            <hr>

            <label for="firstName"><b>Imię</b></label>
            <input type="text" placeholder="Wpisz imię" name="firstName" id="firstName" required>

            <label for="lastName"><b>Nazwisko</b></label>
            <input type="text" placeholder="Wpisz nazwisko" name="lastName" id="lastName" required>

            <label for="nick"><b>Nick</b></label>
            <input type="text" placeholder="Wpisz nick" name="nick" id="nick" required>
            @if (ViewData["e_nick"] != null)
            {
                <div class="error">@ViewData["e_nick"]</div>
            }

            <label for="email"><b>E-mail</b></label>
            <input type="text" placeholder="Wpisz e-mail" name="email" id="email" required>
            @if (ViewData["e_email"] != null)
            {
                <div class="error">@ViewData["e_email"]</div>
            }

            <label for="psw1"><b>Hasło</b></label>
            <input type="password" placeholder="Wpisz hasło" name="psw1" id="psw1" required>
            @if (ViewData["e_haslo"] != null)
            {
                <div class="error">@ViewData["e_haslo"]</div>
            }

            <label for="psw2"><b>Powtórz hasło</b></label>
            <input type="password" placeholder="Powtórz hasło" name="psw2" id="psw2" required>
            <hr>

            <label><input type="checkbox" name="regulamin" /> Akceptuje regulamin</label>
            @if (ViewData["e_regulamin"] != null)
            {
                <div class="error">@ViewData["e_regulamin"]</div>
            }

            <button type="submit" class="registerbtn">Register</button>
        </div>

        <div class="container signin">
            <p>Posiadasz już konto? <a href="Login">Zaloguj się</a></p>
        </div>
    </form>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
